@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Bai Jamjuree", sans-serif;
}

:root {
  --StrongCyan: hsl(171, 66%, 44%);
  --LightBlue: hsl(233, 100%, 69%);
  --DarkGrayishBlue: hsl(210, 10%, 33%);
  --GrayishBlue: hsl(201, 11%, 66%);
  --whitecolor: #fff;
  --PurpleBlueColor: #6a5acd;
}
